<!-- Just an image -->
<div style="height:60px"></div>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:white">    
    <a class="navbar-brand" href="#">
      <img src="/assets/images/icon.png" width="135" height="30" alt="">
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-right">
  
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" [routerLink] = "['home']">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section-1">REQUISITOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section-2">BENEFICIOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section-3">CONTACTO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] = "['home']">LOGIN</a>
        </li>
      </ul>
    </div>
  </nav>