<!-- Header -->
<a name="about"></a>
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <div class="intro-message">
          <img src="assets/images/slogan.png" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6">
        <div class="bd-round card text-white bg-title-card ml-auto" style="max-width: 27rem;">
          <div class="card-header">HASTA EL
            <span class="text-success font-weight-bold">25%</span> DE
            <span class="text-success font-weight-bold">TU NÓMINA</span>
          </div>
          <div class="bd-round-bottom card-body bg-slide-main">
            <form class="container">
              <div class="row">
                <div class="col-md-12 pd-0">
                  <p class="text-left text-header">
                    <span class="font-weight-bold">Código </span>de invitación</p>
                </div>
                <div class="col-md-8 pd-0">
                  <input type="text" class="form-control bd-round" id="validationCustom01">
                </div>
                <div class="col-md-4 pd-0">
                  <a href="#">
                    <img src="/assets/images/btn-send.png" width="75" height="40" alt="">
                  </a>
                </div>
                <div class="col-md-12 pd-0">
                  <p class="text-left text-bottom">Obtén un
                    <span class="text-success">descuento</span> en tu
                    <span class="text-success">comisión de apertura</span>
                    <span class="font-italic">**aplican restricciones</span>
                  </p>
                </div>
                <div class="col-md-12 pd-0">
                  <hr class="hr-header">
                </div>
                <div class="col-md-12 pd-0">
                  <p class="text-left text-header">
                    <span class="font-weight-bold">Monto </span>del Adelanto</p>
                </div>
                <div class="col-md-12 pd-0">
                  <mat-slider min="500" max="10000" step="500" (input)="onInputChange($event)" thumb-label="true"></mat-slider>
                </div>
                <div class="col-md-12 pd-0">
                  <hr class="hr-header">
                </div>
                <div class="col-md-12 pd-0">
                  <p class="text-left text-header">
                    <span class="font-weight-bold">Fecha </span>de Pago</p>
                </div>
                <div class="col-md-12 pd-0">
                  <form novalidate>
                    <my-date-picker name="mydate" [options]="myDatePickerOptions" required></my-date-picker>
                  </form>
                </div>
                <div class="col-md-12 pd-0">
                  <hr class="hr-header">
                </div>                
              </div>
              <div class="row">
                  <div class="row">
                      <div class="col">
                          <p class="text-center text-money">
                              Adelanto de Nómina</p>
                      </div>
                      <div class="col">
                          <p class="text-center text-money">
                              Comisión</p>
                      </div>
                      <div class="col">
                          <p class="text-center text-money">
                              Interés</p>
                      </div>
                      <div class="col">
                          <p class="text-center text-money">
                              IVA</p>
                      </div>
                      <div class="col">
                          <p class="text-center text-money">
                              Total a Pagar</p>                              
                      </div>
                      <div class="w-100"></div>
                      <div class="col">
                          <p class="text-center text-money">
                              {{nomina | currency:'USD':true}}</p>
                      </div>
                      <div class="col">
                          <p class="text-center text-money">
                              {{comision | currency:'USD':true}}</p>
                      </div>
                      <div class="col">
                          <p class="text-center text-money">
                              {{interes | currency:'USD':true}}</p>
                      </div>
                      <div class="col">
                          <p class="text-center text-money">
                              {{iva | currency:'USD':true}}</p>
                      </div>
                      <div class="col">
                          <p class="text-center text-money">
                              {{total | currency:'USD':true}}</p>
                      </div>
                    </div>                
              </div>              
            </form>
          </div>
        </div>                             
          <div class="row">
              <div class="col-md-2 ml-md-auto"></div>
              <div class="col-md-10 ml-md-auto">
                  <button style="margin-top: 10px" class="btn btn-success">PRE - REGISTRATE</button>                     
              </div>
            </div>
            
        
      </div>

    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->