<br><br>
<div class="container" id="section3">
    <div class="row">
        <div class="col-md-8">
            <h1 class="title text-center" style="color: #531B93;">BENEFICIOS</h1>
            <hr class="intro-divider">
            <br>
            <h3 class="text-center">
                1.      OPORTUNOS: Estamos cuando más lo necesitas. Proceso de aprobación 48 hrs.
            </h3>
            <br>
            <h3 class="text-center">
                2.      SENCILLOS: En cuatro sencillos pasos sometes tu solicitud.
            </h3>
            <br>
            <h3 class="text-center">
                3.      CONVENIENTES: El costo de Nuestro financiamiento es accesible.
            </h3>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/images/appstore.png" class="img-fluid center-block" width="90%" />
                </div>
                <div class="col-md-6">
                    <img src="assets/images/playstore.png" class="img-fluid center-block" width="100%" />
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            <img src="assets/images/iphone.png" class="img-fluid">
        </div>
    </div>

</div>
