<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="#"><img src="assets/images/slogan2.png" alt="AvancExpress" class="img-fluid" width="80%"></a>
                </div>
                <div class="col">
                    <h3>All Rights Reserved AvancExpress 2017</h3>
                </div>
                <a type="button" class="btn-floating btn-large btn-tw"><i class="fa fa-twitter"></i></a>
                
                <div class="col">
                    
                </div>
            </div>
        </div>
    </div>
</footer>