<div class="container-fluid" id="section4">
    <div class="row">
        <div class="col-md-4" style="background-color: #B43C8F; height: 850px">
            <h1 class="title text-left" style="color: white; font-size: 45pt; padding-top: 1em">¿CÓMO?
            </h1>
            <h1 class="title text-center" style="color: white"><br>1
            </h1>
            <br>
                <img src="assets/images/2.png" class="rounded mx-auto d-block" width="40%" />
            <div class="col">
                <p class="text-center info-p">
                    Regístrate y sube tus documentos en nuestra página ó con nuestra app de forma rápida y segura.
                </p>
            </div>
        </div>
        <div class="col-md-4" style="background-color: #4AAEEF; height: 850px">
            <h1 class="title text-center" style="color: white; padding-top: 4.1em">2
            </h1>
            <br>
            <img src="assets/images/3.png" class="rounded mx-auto d-block" width="40%" />
            <div class="col">
                <p class="text-center info-p">
                    Espera un correo electrónico de confirmación
                </p>
            </div>
        </div>
        <div class="col-md-4" style="background-color: #94C83D; height: 850px">
            <h1 class="title text-center" style="color: white; padding-top: 4.1em">3
            </h1>
            <br>
            <img src="assets/images/4.png" class="rounded mx-auto d-block" width="40%" />
            <div class="col">
                <p class="text-center info-p">
                    Acude a tu sucursal más cercana a realizar el trámite y ¡disfruta de tu nómina adelantada!
                </p>
            </div>
        </div>

    </div>
</div>

    <div class="section-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-6">
                    <hr class="intro-divider-top">
                </div>
            </div>
            <div class="row" id="section5">
                <div class="col-md-12">

                    <h1 class="title title-min text-center" style="color: white">RESPUESTA EN MENOS DE 48 HRS
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-8">
                    <hr class="intro-divider-bottom">
                </div>
            </div>
        </div>

    </div>
<br>
    <div id="section-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title text-left" style="color: #531B93">CONTACTO</h1>
                    <p style="font-size: 14pt">
                        <img src="assets/images/17.png"> E-mail:  <a href="mailto:contacto@avancexpress.com.mx">contacto@avancexpress.com.mx</a><br>
                    </p>
                    <p style="font-size: 14pt">
                        <img src="assets/images/18.png"> Tel. 938 131 4749 Ext. 127<br>

                    </p>
                    <p style="font-size: 14pt">
                        <img src="assets/images/19.png"> Whatsapp: 938 123 1561<br>
                    </p>
                    <p style="font-size: 14pt">
                        <img src="assets/images/20.png"> Ciudades: Durango, Durango & Cd. del Carmen, Campeche.
                    </p>


                </div>
            </div>

        </div>
    </div>

